<!--<div class="container">-->
		<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary" style="height: 68px; margin-top: 60px;">
			<div class="page-header navbar fixed-top">
			    <img src="{{asset('../bootstrap/img/logo-interieur2.jpg')}}" class="img-fluid page-header" alt="Responsive image">
			</div>
			<div class="container-fluid">
				<a class="navbar-brand" href="{{ path('home') }}">Accueil</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ path('gestion_association_index') }}">Gestion des Associations</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Gestion des Baux</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Gestion des Débits</a>
						</li>
						<li>
						</li>
					</ul>
					{% if is_granted('ROLE_ADMIN') %}
						<a class="btn btn-outline-light ms-2" href="{{ path('admin') }}"> Back Office</a>
					{% endif %}
					{% if app.user %}
						<a class="btn btn-outline-light ms-2" href="{{ path('app_logout') }}"> Se déconnecter</a>
					{% else %}
						<a class="btn btn-outline-light ms-2" href="{{ path('app_login') }}"> Se connecter</a>
					{% endif %}
					{# <form class="d-flex">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form> #}
				</div>
			</div>
		</nav>
<!--</div>-->

{% block stylesheets %}
<style>
.page-header img {
  margin-top: 0px;
}
.page-header {
  height: 60px;
  margin-top: 0px;
  background-size: cover;
  width: 100%;
  /*background-image: url(some/parth/to/image);*/
}
</style>
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}