{% extends 'base.html.twig' %}

{% block title %}Gestion Association{% endblock %}

{% block scripts %}
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"></script>
{% endblock %}

{% block body %}

    {% include "/menu.html.twig" %}
    <div class="container" style="margin-top: 198px;">
           {#  <div class="form-inline">
                {{form(form)}}
            </div> #}
            {{ form_start(form, {'method': 'post', 'action': path('gestion_association_index') }) }}
                <div class="row">
                    <div class="col-lg-4">
                      {{ form_widget(form.mots)}}
                      {{ form_errors(form.mots)}}
                    </div>
                    <div class="col-lg-4">
                      {{ form_widget(form.types)}}
                    </div>
                    <div class="col-lg-4">
                      {{ form_widget(form.Rechercher)}}
                    </div>
                </div>
            {{ form_end(form) }}

        <h4 class="mt-4 mb-4">Liste des Associations, <span class="text-secondary">[ {{count_all_assoc}} ] </span> trouvée s </h4>

        {% include "/gestion_association/_content.html.twig" %}

    </div>
{% endblock %}
