{% extends 'base.html.twig' %}

{% block title %}Gestion Association{% endblock %}

{% block body %}
        {% include "/menu.html.twig" %}
<div class="main">
    <div class="container">
    <h3 class="w-100 bg-info p-2 text-center" style="margin-top: 10rem;">Détails pour Association</h3>

    <table class="table table-light table-striped table-hover">
        <tbody>
            <tr>
                <th>Numero récipissé</span></th>
                <td><span class="badge badge-danger bg-danger" >{{ gestion_association.numeroRecipice }}</span></td>
            </tr>
            <tr>
                <th>Denomination</th>
                <td>{{ gestion_association.denomination }}</td>
            </tr>
            <tr>
                <th>Adresse siège</th>
                <td>{{ gestion_association.adresseSiege }}</td>
            </tr>
            <tr>
                <th>Département</th>
                <td>{{ gestion_association.departements }}</td>
            </tr>
            <tr>
                <th>Région</th>
                <td>{{ gestion_association.regions }}</td>
            </tr>
            <tr>
                <th>Geolocalisation</th>
                <td>{{ gestion_association.geolocalisation[0] }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ gestion_association.types }}</td>
            </tr>
            <tr>
                <th>Grande rubrique</th>
                <td>{{ gestion_association.grandeRubrique[0] }}</td>
            </tr>
            <tr>
                <th>Date signature</th>
                <td><span class="badge badge-secondary bg-info">{{ gestion_association.dateSignature ? gestion_association.dateSignature|date('Y-m-d') : '' }}</span></td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('gestion_association_index') }}" class="btn btn-outline-primary w-100">Revenir à la liste</a>
    </div>


    {# <a href="{{ path('gestion_association_edit', {'id': gestion_association.id}) }}">Editer</a>

    {{ include('gestion_association/_delete_form.html.twig') }} #}
</div>
{% endblock %}
